<div class="login-content">
  <div class="errors">
    <% if @errors %>
    <% @errors.each do |error| %>
      <center><%= error %></center>
      <% end %>
    <% end %>
  </div>

  <div class="wrapper">
    <span>
    Log in with facebook! 
    <button id="login-button" class="hidden">LOGIN</button>
    </span>
</div>