<h1>Your Favorites</h1>

<ul>
	<% @favorite_restaurants.each do |favorite_restaurant| %>	
		<a href="<%= favorite_restaurant.yelp_page_url %>">
			<li><%= favorite_restaurant.name %></li>
		</a>
	<% end %>	
</ul>
