<h1>Your Favorites</h1>

<ul>
	<% @favorite_restaurants.each do |favorite_restaurant| %>	
		<a href="<%= favorite_restaurants.yelp_page_url %>"></a><li><%= favorite_restaurants.name %></li></ul></a>
	<% end %>	
</ul>