<li id="<%=restaurant.id%>" class="pane<%=restaurant.id%>">
      <div class="img" style="background: url(<%=restaurant.image_url%>) no-repeat scroll center center; background-size: cover;"></div>
      <div><%= restaurant.name %></div>
      <div class="like"></div>
      <div class="dislike"></div>
</li>