
<!-- <script>$("#tinderslide").jTinder();</script> -->
  <div data-role="main" class="ui-content">
    <!-- start padding container -->
    <div class="wrap">
        <!-- start jtinder container -->
        <div id="tinderslide">
          <% if @restaurants %>
            <ul>
            <%@restaurants.each do |restaurant| %>
              <%= render partial: 'pane', locals:{restaurant: restaurant} ,layout: false  %>
            <% end %>
            </ul>
          <% end %>
        </div>
        <!-- end jtinder container -->
    </div>
    <!-- end padding container -->

    <!-- jTinder trigger by buttons  -->
    <div class="actions">
        <a href="#" class="dislike"><i></i></a>
        <a href="#" class="like"><i></i></a>
    </div>

    <!-- jTinder status text  -->
    <div id="status"></div>
  </div>
<div id="navbar-container" data-role="footer">
  <% if logged_in? %>
    <div data-role="navbar" id="navbar-id">
        <ul>
          <li>
          <%= button_to "Favorites", user_favorites_path(@current_user) %>
          </li>

          <li>
          <%= button_to "Home", restaurants_path %>
          </li>

          <li> 
          <%= button_to 'Destroy', { controller: :sessions, action: :destroy, id: @current_user.id }, method: :delete, data: { confirm: 'Are you sure?' } %>
          </li>


        </ul>
      </div><!-- /navbar -->
    <% end %>
</div>