<!DOCTYPE html>
<html>

<head>
    <title>WayToEat</title>
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div data-role="page" id="page1">
    <div data-role="header" class="header">
      <span id="title"><center><a style='text-decoration:none; color: black;' href="/users">WayToEat</a></center></h1>
    </div>

  <%= yield %>


  </div>
</body>
</html>
